# Maven #
target/

# IDEA #
.idea/
*.iml
out/

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/